
::selection {
  background: #660280a8; /* WebKit/Blink Browsers */
  color:#2dcca4
}
.alert{
  max-width: 70%;
  margin: 0 auto;
}
.list-group-item{
  background-color: #222 ;
}
p label{
  background-color: #222;
}
body{
  position: relative;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
footer{
  position: relative;
  width: 100%;
/*   bottom: -300px; */
  background: linear-gradient(to bottom, #222,#1e3a31);
  min-height: 13em;
}

#quizApiImg:hover{
  cursor: pointer;
}

#navmain{
  color:#00bc8c;
}

.user-nav:hover{
  color: #f39c12 !important ;
}

.toggles{
  /* Buttons to manipulate background rain animation */
  display: none;
}
p input{
  background-color: #222;
}

/* **********************************scrollbar ***********************************/
html::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
html::-webkit-scrollbar-thumb {
  background: #1e3a31;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
html::-webkit-scrollbar-track {
  background: linear-gradient(
90deg,#1e3a31,#1e3a31 1px,#111 0,#111);
}
/* ***********************************scrollbar *********************************/

/* *****************************background animation*************************** */

html {
    height: 100%;
    background-color: linear-gradient(to bottom, #202020, #202020);
  }
  
  .back-row-toggle {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #202020, #202020);
    top: -28px;
  }
  
  .rain {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  
  .rain.back-row {
    display: none;
    z-index: -3;
    bottom: 60px;
    opacity: 0.5;
  }
  
  div.back-row-toggle .rain.back-row {
    display: block;
  }
  
  .drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
  }
  
  @keyframes drop {
    0% {
      transform: translateY(0vh);
    }
    75% {
      transform: translateY(90vh);
    }
    100% {
      transform: translateY(90vh);
    }
  }
  
  .stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
  }
  
  @keyframes stem {
    0% {
      opacity: 1;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
  }
  
  div.splat-toggle .splat {
    display: block;
  }
  
  @keyframes splat {
    0% {
      opacity: 1;
      transform: scale(0);
    }
    80% {
      opacity: 1;
      transform: scale(0);
    }
    90% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }
  
  .toggles {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .toggle {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 51px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .toggle:active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .toggle.active {
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .splat-toggle {
    top: 20px;
  }
  
  .back-row-toggle {
    top: 90px;
  }
  
  .single-toggle {
    top: 160px;
  }
  
  div.single-toggle .drop {
    display: none;
  }
  
  div.single-toggle .drop:nth-child(10) {
    display: block;
  }