{% extends "base.html"%}
{% block title%} About {% endblock%}
{% block content %}
<h1>About this page <i class="fas fa-umbrella"></i></h1>
<p>Ok full disclosure, I just wanted to play around with some cards so here is every piece of tech I used for this site.
</p>
<hr>

<div class="container m-6">
    <div class="row row-cols-auto m-2 mt-4">
        <div class="card-group ">
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="card m-2">
                    <img src="/static/images/js_logo_icon_145146.png" class="card-img-top" alt="JavaScript logo">
                    <div class="card-body">
                        <h4 class="card-title text-center">JavaScript</h6>
                        <hr>
                        <p class="card-text text-center lh-base">When someone asks you -"Which programming language should I learn first?"
                            Answer them by asking -"What are you interested in?"<br>
                            Front-end? -JavaScript. <br>
                            Back-end? -JavaScript. <br>
                            Mobile apps? -JavaScript. <br>
                            Games? -JavaScript. <br>
                            AI? -JavaScript. <br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="card m-2">
                    <img src="/static/images/Python_icon-icons.com_68975.png" class="card-img-top p-4" alt="Python">
                    <div class="card-body">
                        <h4 class="card-title text-center">Python</h4>
                        <hr>
                        <p class="card-text text-center lh-base">A programmer is a machine that turns coffe into code.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <div class="card m-2">
                    <img src="/static/images/stack_overflow_icon_153499.png" class="card-img-top" alt="Stack Overflow">
                    <div class="card-body">
                        <h4 class="card-title d-flex justify-content-center align-items-start">Stack Overflow</h4>
                        <hr>
                        <p class="card-text lh-base d-flex align-items-center">I know, kind of weird to put this in here, but honestly this tool has saved
                            me so many times, and I've learned so much from it, that I figured this totally belongs here.</p>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-auto m-2">
        <div class="card-group">
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card m-2">
                    <img src="/static/images/prog-flask_icon-icons.com_50797.png" class="card-img-top p-2" alt="Flask">
                    <div class="card-body">
                        <h4 class="card-title text-center">Flask</h4>
                        <hr>
                        <p class="card-text text-center lh-base">I must have written flask run 4 million times by now.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card m-2">
                    <img src="/static/images/bootstrap_icon_195906.png" class="card-img-top p-2" alt="Bootstrap 5">
                    <div class="card-body">
                        <h4 class="card-title text-center">Bootstrap 5</h4>
                        <hr>
                        <p class="card-text text-center lh-base">Let us gather together in pray, and thank the lord for this tool! <br> Thank you, Jesus!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card m-2">
                    <img src="/static/images/sqla_logo.png" class="card-img-top p-2" alt="SQLA">
                    <img src="/static/images/4691328_postgresql_icon.png" class="p-2" alt="postgresql" srcset="">
                    <div class="card-body">
                        <h4 class="card-title text-center">SQLAlchemy and postgresql</h4>
                        <hr>
                        <p class="card-text text-center lh-base">What is the most used language in programming? <br>
                            Profanity.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card m-2">
                    <img src="/static/images/jq.png" class="" alt="jquery" srcset="">
                    <div class="card-body">
                        <h4 class="card-title text-center">jQuery</h4>
                        <hr>
                        <p class="card-text text-center lh-base">I don't know any React yet, what do you want from me? Give me a couple of months, I'll get there.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-auto m-2">
        <div class="card-group">
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                <div class="card m-2">
                    <div class="row">
                        <img src="/static/images/social_html5_html_71.png" class="col-6 pt-2 " alt="bootstrap"
                            srcset="">
                        <img src="/static/images/css3-01_icon-icons.com_50918.png" class="col-6 pt-2 " alt="bootstrap"
                            srcset="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">HTML and CSS</h4>
                        <hr>
                        <p class="card-text text-center lh-base"> -"Hello Mr Programmer", the donkey said, -"how are you?". <br>

                            -"mighty fine, thank you donkey", the HTML dev replied <br>
                            
                            Immediately the donkey started crying. <br>
                            
                            -"What's the matter little friend?" the HTML dev asked. <br>
                            
                            -"I called you a programmer, at least you could call me horse"</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 d-flex">
                <div class="card m-2">
                    <div class="row">
                        <img src="/static/images/GitHub.png" class="col-6 p-3" alt="GitHuub" srcset="">
                        <img src="/static/images/pngegg.png" class="col-6 p-3" alt="Git" srcset="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Git and GitHub</h4>
                        <hr>
                        <p class="card-text text-center lh-base"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-auto m-2">
        <div class="card-group">
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card m-2">
                    <img src="/static/images/font_awesome_icon_135599.png" alt="FontAwesome" srcset="">
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">FontAwesome</h4>
                        <hr>
                        <p class="card-text lh-base">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 d-flex">
                <div class="card m-2">
                    <img src="/static/images/WTF.png" class="pt-4 pb-4" alt="WTForms" srcset="">
                    <div class="card-body">
                        <h4 class="card-title text-center">WTForms</h4>
                        <hr>
                        <p class="card-text text-center lh-base">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 d-flex">
                <div class="card m-2">
                    <img src="/static/images/vscode_icon_131899.png" alt="vscode" class="p-2" srcset="">
                    <div class="card-body">
                        <h4 class="card-title text-center">VSCode</h4>
                        <hr>
                        <p class="card-text text-center lh-base">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-5 d-flex">
                <div class="card m-2">
                    <div class="row">
                        <img src="/static/images/ubuntu.png" alt="ubuntu" class="col-6 p-3" srcset="">
                        <img src="/static/images/w.png" alt="windows" class="col-6 p-4" srcset="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title text-center">Windows Subsystem for Linux - Ubuntu</h4>
                        <hr>
                        <p class="card-text text-center lh-base">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}