{% extends "base.html"%}

{% block title%}Create your quiz!{% endblock%}

{% block content %}
<h1>Welcome {{g.user.username}}, Select your quiz parameters!</h1>
<br>
<form action="" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <p>
        {{field.label}}
        {{field}}

        {% for error in field.errors%}
        {{error}}
        {% endfor %}
    </p>
    {%endfor%}
    <button type="submit"> Show me a quiz </button>
</form>

{% endblock%}