{% extends "base.html"%}

{% block title%}This is your quiz!{% endblock %}

{% block content %}
<!-- 
jsonr is the entire response sent by the API.

iter_base is a list of lists, where each (list) element holds all possible answers for a specific question
iter_base -> [['foo', 'bar', 'baz foo'], ['foo bar', ... , ], [..., , ,] ...]

ques_number is a dict -> {1: 'One', 2: 'Two', ...}

There are two main variables at play in this template:
    ques_number[jsonr.index(question) + 1]   ->   can take values "One", "Two", "Three", from ques_number
    iter_base[jsonr.index(question)]         ->   is a list of all none None answers to the current question. It's in a separate list to be able to iterate through it
 -->
 <h1>Quiz page.</h1>
 <h2>Once you submit your answers, we'll show you how you did, and all correct answers</h2>

<form action="/users/{{g.user.id}}/calculate_score" method="POST" class="scrollable">

    {% for question in jsonr %}

    <div class="accordion m-2" id="{{ques_number[jsonr.index(question) + 1]}}">    
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ques_number[jsonr.index(question) + 1]}}">
                <button class="accordion-button d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ques_number[jsonr.index(question) + 1]}}" aria-expanded="true" aria-controls="collapse{{ques_number[jsonr.index(question) + 1]}}">
                    {{(jsonr.index(question)) + 1}} - {{question['question']}}
                </button>
            </h2>
            <div id="collapse{{ques_number[jsonr.index(question) + 1]}}" class="accordion-collapse collapse" aria-labelledby="heading{{ques_number[jsonr.index(question) + 1]}}">
                <div class="accordion-body">
                    <div class="btn-group-vertical d-flex justify-content-center m-2" name= "{{ques_number[jsonr.index(question) + 1]}}" data-toggle="buttons" role="group" aria-label="Button group {{ques_number[jsonr.index(question) + 1]}}">
                        
                        {% for answer in iter_base[jsonr.index(question)] %} 

                            {% if answer != None %}
                                <div class="container-fluid">
                                    <input type="radio" class="btn-check text-center" name="input-group {{ques_number[jsonr.index(question) + 1]}}" id="{{ques_number[jsonr.index(question) + 1]}} {{iter_base[jsonr.index(question)].index(answer)}}" value="{{answer}}" autocomplete="off" checked>
                                    <label class="btn btn-outline-success d-block text-center" for="{{ques_number[jsonr.index(question) + 1]}} {{iter_base[jsonr.index(question)].index(answer)}}">{{answer}}</label>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <button type="submit" class="btn btn-outline-warning d-grid gap-2 col-4 mx-auto m-4"> Let's see how I did! </button>
</form>




{% endblock %}