{% extends "base.html"%}

{% block title %}SE trivia quiz user registration!{% endblock %}

{% block content%}
<h1 class="text-center px-4">Register page</h1>

<form action="" method="POST">
    {{form.hidden_tag()}}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <p>
        {{field.label}}
        {{field}}

        {% for error in field.errors%}
        {{error}}
        {% endfor %}
    </p>
    {%endfor%}
    <button type="submit" class="btn btn-secondary"> Register </button>
</form>


{% endblock%}